<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Air Creature</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Loading: Normalize, Grid and Styles -->
    <link rel="stylesheet" href="assets/css/normalize.css" media="screen">
    <link rel="stylesheet" href="assets/css/grid.css" media="screen">
    <link rel="stylesheet" href="assets/css/style.css" media="screen">

    <!-- Loading: Font Awesome -->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- Start: Intro -->
<section id="intro" class="fx-backstretch">
    <nav id="nav">
        <ul class="clearfix">
            <li><a href="/home">Home</a></li>
            <li><a href="/personal_area">Personal Area</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (request.getSession().getAttribute("userName") != null) {
            %>
            <li><a href="/logout">Logout (
                <%=request.getSession().getAttribute("userName")%>
                )</a></li>
            <% } %>
        </ul>
    </nav>
</section>
<!-- End: Intro -->

<!-- Start: Work Experience -->
<section id="experience" class="section">
    <div class="container">
        <div class="row">
            <div class="col-full">
                <h2 class="section-title">Our visit card</h2>
                <div class="centered line"></div>
            </div>
        </div>

        <div class="row section-content">
            <!-- Start: Job -->
            <div class="job">
                <div class="col-full">
                    <h3>Project representative</h3>
                </div>

                <div class="row">
                    <div class="col-2-3 col-wrap centered">
                        <div class="col-1-2 job-company"><strong>Project manager:<br/> Mr.Smith</strong></div>
                        <div class="col-1-2 job-period"><br/>His contacts</div>
                    </div>
                </div>

            </div>
            <!-- End: Job -->

            <div class="separator"></div>

            <!-- Start: Job -->
            <div class="row job">
                <div class="col-full">
                    <h3>Representatives of participating companies</h3>
                </div>

                <div class="row">
                    <div class="col-2-3 col-wrap centered">
                        <div class="col-1-2 job-company"><strong>PR manager of "Roskosmos":<br/> Mr.Smith</strong></div>
                        <div class="col-1-2 job-period"><br/>His contacts</div>
                    </div>
                    <div class="col-2-3 col-wrap centered">
                        <div class="col-1-2 job-company"><strong>PR manager of "Rostech":<br/> Mr.Smith</strong></div>
                        <div class="col-1-2 job-period"><br/>His contacts</div>
                    </div>
                    <div class="col-2-3 col-wrap centered">
                        <div class="col-1-2 job-company"><strong>PR manager of "Sukhoi":<br/> Mr.Smith</strong></div>
                        <div class="col-1-2 job-period"><br/>His contacts</div>
                    </div>
                </div>

            </div>
            <!-- End: Job -->

            <div class="separator"></div>

            <div class="row job">
                <div class="col-full">
                    <h3>Technical support</h3>
                </div>

                <div class="row">
                    <div class="col-2-3 col-wrap centered">
                        <div class="col-1-2 job-company"><strong>Developer:<br/> Mr.Smith</strong></div>
                        <div class="col-1-2 job-period"><br/>His contacts</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End: Work Experience -->

<footer>
    <div class="container">
        2018 created by Danil Yusupov for educational purposes.
    </div>
</footer>

</body>

</html>